ssjj_hack/ssjj_hack/bin/
ssjj_hack/ssjj_hack/obj/
ssjj_hack/.vs/
ssjj_hack/ssjj_main/obj/
ssjj_hack/ssjj_main/bin/Debug/
ssjj2_hack/.vs/
ssjj2_hack/ssjj_hack/bin/
ssjj2_hack/ssjj_main/obj/
ssjj2_hack/ssjj_main/bin/
ssjj2_hack/ssjj_hack/obj/
ssjj_hack/packages/
ssjj_hack/ssjj_main_netframework/bin/
ssjj_hack/ssjj_main_netframework/obj/
